.btn{
    height: 3rem;
    width: 10rem;
    margin: 0 1rem;
    background-color: rgb(18, 74, 123);
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    border: none;
}

.btn:hover {
    color: rgb(0, 50, 0);
    background-color: rgb(91, 202, 91);
    cursor: pointer;
}