.textarea {
    background-color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.correct {
    color: green;
    background-color: rgb(204, 236, 204);
}

.mistake {
    color: red;
    background-color: rgb(245, 199, 199);
}

.activeCursor {
    color: darkblue;
    background-color: lightblue;
    text-decoration: underline darkblue;
}